# Data Cleaning

In [30]:
import pandas as pd
import numpy as np

In [31]:
data_housing = pd.read_csv('../data/raw/housing_costs_Neighborhoods_-8848403750169343217.csv')
data_income = pd.read_csv('../data/raw/incomes_Neighborhoods_-1139681776900304943.csv')

data_housing.columns

Index(['OBJECTID', 'NEIGH_NO', 'Neighborhood Name', 'Neighborhood Type',
       'Neighborhood Subtype', 'ACS Vinatage', 'Occupied Housing Units',
       'Owner Households', 'Renter Households',
       'Gross Rent as a Percentage of Household Income Less than 15.0%',
       'Gross Rent as a Percentage of Household Income 15.0 to 19.9%',
       'Gross Rent as a Percentage of Household Income 20.0 to 24.9%',
       'Gross Rent as a Percentage of Household Income 25.0 to 29.9%',
       'Gross Rent as a Percentage of Household Income 30.0 to 34.9%',
       'Gross Rent as a Percentage of Household Income 35.0% or more',
       'Gross Rent 30% or more of Household Income',
       'Gross Rent as a Percentage of Household Income Not Computed',
       'Owner housing units with a mortgage where selected monthly onwer costs as a percentage of household income can be computed',
       'Selected Monthly Owner Costs as a Percentage of Household Income Less than 20.0%',
       'Selected Monthly Owner Costs as a Percentage of Household Income 20.0 to 24.9%',
       ' Selected Monthly Owner Costs as a Percentage of Household Income 25.0 to 29.9%',
       'Selected Monthly Owner Costs as a Percentage of Household Income 30.0 to 34.9%',
       'Selected Monthly Owner Costs as a Percentage of Household Income 35.0% or more',
       'Monthly Costs 30% or more of Household Income (owners with a mortgage)',
       'Housing units with a mortgage where selected monthly onwer costs a s a percentage of household income not computed',
       'Renter housing units with gross rent', 'Gross Rent Less Than $500',
       'Gross Rent $500-$999', 'Gross Rent $1,000-$1,499',
       'Gross Rent $1,500-$1,999', 'Gross Rent $2,000-$2,499',
       'Gross Rent $2,500-$2,999', 'Gross Rent $3,000-$3,499',
       'Gross Rent $3,500 or more', 'No cash rent',
       'Owner housing units with a mortgage', 'Owner Costs Less Than $1,000',
       'Owner Costs $1,000-$1,499', 'Owner Costs $1,500-$1,999',
       'Owner Costs $2,000-$2,499', 'Owner Costs $2,500-$2,999',
       'Owner Costs $3,000-$3,499', 'Owner Costs $3,500-$3,999',
       'Owner Costs $4,000 or more', 'Owner housing units without a mortgage',
       'Neighborhood Type (outside comp plan areas id)'],
      dtype='object')

First step is to remove spaces in column names and replace them with underscores

In [32]:
data_housing.columns = [x.replace(" ","_") for x in data_housing.columns]
data_income.columns = [x.replace(" ","_") for x in data_income.columns]

data_income.head()

,OBJECTID,NEIGH_NO,Neighborhood_Name,Neighborhood_Type,Neighborhood_Subtype,ACS_Vinatage,Aggregate_income_in_the_past_12_months_(in_2022_inflation-adjusted_dollars),Total_Population,Total_Households,"Household_Income_Less_than_$10,000",...,"Family_Household_Income_$100,000_or_more","Nonfamily_Household_Income_$100,000_or_more","Earnings_$50,000_or_More_Male_Workers","Earnings_$50,000_or_More_Female_Workers",Population_16_years_and_over_with_earnings,Males_16_years_and_over_with_earnings,Females_16_years_and_over_with_earnings,"Earnings_$50,000_or_More_All_Workers",Aggregate_Household_Income,Neighborhood_Type_(outside_comp_plan_areas_id)
0,1,1.0,Council District 1,CD,NaN,5Y23,7965084000,108594,48209,NaN,...,18306,9460,25368,19332,69022,36599,32423,44700,7797458400,CD
1,2,2.0,Council District 2,CD,NaN,5Y23,6355394800,108053,43824,NaN,...,14263,6486,20961,14994,66298,35636,30662,35955,6177651600,CD
2,3,3.0,Council District 3,CD,NaN,5Y23,10763937200,108012,60156,NaN,...,14102,18831,30371,22452,79057,43795,35262,52823,10593211500,CD
3,4,4.0,Council District 4,CD,NaN,5Y23,7692298500,104299,42569,NaN,...,15438,7902,21817,15841,70502,35778,34724,37658,7471995100,CD
4,5,5.0,Council District 5,CD,NaN,5Y23,7324865100,106208,47887,NaN,...,16110,8266,23739,18286,68025,36815,31210,42025,7154789000,CD

In [33]:
# Export data with column whitespace removed to interim data
data_housing.to_csv("../data/interim/housing_data.csv")
data_income.to_csv("../data/interim/income_data.csv")