In [3]:
import pandas as pd

In [4]:
income = pd.read_csv('../data/interim/income_data.csv')
income.set_index('OBJECTID', inplace=True)

In [5]:
income

,Unnamed: 0,NEIGH_NO,Neighborhood_Name,Neighborhood_Type,Neighborhood_Subtype,ACS_Vinatage,Aggregate_income_in_the_past_12_months_(in_2022_inflation-adjusted_dollars),Total_Population,Total_Households,"Household_Income_Less_than_$10,000",...,"Family_Household_Income_$100,000_or_more","Nonfamily_Household_Income_$100,000_or_more","Earnings_$50,000_or_More_Male_Workers","Earnings_$50,000_or_More_Female_Workers",Population_16_years_and_over_with_earnings,Males_16_years_and_over_with_earnings,Females_16_years_and_over_with_earnings,"Earnings_$50,000_or_More_All_Workers",Aggregate_Household_Income,Neighborhood_Type_(outside_comp_plan_areas_id)
OBJECTID,,,,,,,,,,,,,,,,,,,,,
1,0,1.0,Council District 1,CD,NaN,5Y23,7965084000,108594,48209,NaN,...,18306,9460,25368,19332,69022,36599,32423,44700,7797458400,CD
2,1,2.0,Council District 2,CD,NaN,5Y23,6355394800,108053,43824,NaN,...,14263,6486,20961,14994,66298,35636,30662,35955,6177651600,CD
3,2,3.0,Council District 3,CD,NaN,5Y23,10763937200,108012,60156,NaN,...,14102,18831,30371,22452,79057,43795,35262,52823,10593211500,CD
4,3,4.0,Council District 4,CD,NaN,5Y23,7692298500,104299,42569,NaN,...,15438,7902,21817,15841,70502,35778,34724,37658,7471995100,CD
5,4,5.0,Council District 5,CD,NaN,5Y23,7324865100,106208,47887,NaN,...,16110,8266,23739,18286,68025,36815,31210,42025,7154789000,CD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,87,305.0,Mt Baker,UCUV,Hub Urban Village,5Y23,538277700,7978,3484,NaN,...,1109,381,1751,1020,4696,2693,2003,2771,526301000,UCUV
89,88,312.0,South Lake Union,UCUV,Urban Center,5Y23,1403758200,11976,8217,NaN,...,1106,4832,5142,2657,9871,5971,3900,7799,1392996300,UCUV
90,89,401.0,University District,UCUV,Urban Center,5Y23,795879500,29410,10053,NaN,...,768,1228,2866,1360,20547,10079,10468,4226,682196800,UCUV
91,90,412.0,Uptown,UCUV,Urban Center,5Y23,1228534100,12825,8666,NaN,...,1529,3413,4758,3080,10535,5860,4675,7838,1207226400,UCUV
92,91,413.0,Downtown,UCUV,Urban Center,5Y23,4294937700,42788,27067,NaN,...,4819,10165,13671,8506,32267,18900,13367,22177,4217050000,UCUV